@font-face {
	font-family: 'LINESeedKR';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2')
		format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LINESeedKR';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LINESeedKR';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--main-color1: rgb(0, 50, 104);
	--main-color2: rgb(0, 132, 202);
	--main-color3: rgb(21, 192, 242);
	--main-color4: rgb(100, 50, 250);
	--gray-color1: gray;
	--gray-color2: rgb(230, 230, 230);
	--gray-color3: rgb(245, 245, 245);
}

* {
	font-family: 'LINESeedKR';
	padding: 0;
	margin: 0;
	line-height: 1.5;
}

html {
	font-size: 16px;
	background-color: white;
}

@media (max-width: 1200px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 800px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 10px;
	}
}

body {
	background-color: var(--gray-color3);
}

a {
	text-decoration-line: none;
	color: var(--main-color4);
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	text-decoration-thickness: 0.05rem;
}

s {
	color: var(--gray-color1);
	text-decoration-thickness: 0.05rem;
}

s:hover {
	text-decoration: none;
}

u {
	text-underline-offset: 0.2rem;
	text-decoration-thickness: 0.05rem;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: solid grey 0.05rem;
	background-color: var(--gray-color3);
}

button {
	padding: 0.4rem 0.6rem;
	border: solid black 0.1rem;
	background-color: white;
}

button:hover {
	cursor: pointer;
	background-color: var(--gray-color3);
}
